.btn-rounded {
  border-radius: 100px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 30px;
}

.btn-primary {
  border: 2px solid $main-color;
}

.btn-outline-primary {
  border: 2px solid #fff;
}

//  Portfolio
.button-tag-active {
  font-size: 12px;
  padding: 5px 15px;
}
.button-tag {
  font-size: 12px;
  padding: 5px 15px;
  background-color: $highlight-color;
  color: $main-color;
}

//   Testimonials
.button-items {
  display: flex;
  justify-content: center;
  list-style: none;

  .item {
    background-color: #dddddd;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 12px;
  }
}
